@font-face {
    font-family: 'JetBrains Mono';
    src: url('../font/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../font/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../font/JetBrainsMono-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../font/JetBrainsMono-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'JetBrains Mono', monospace;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}
